.wrap{
	position:absolute;
    z-index: 1;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}
.search{
	width: 100%;
}
ul{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    font-size: 14px;
}
li{
	height: 30px;
    line-height: 30px;
    overflow: hidden;
    cursor: pointer;
    padding: 0 5px;
}
li:hover{
    background: #AAFFEE;
}