table
{
    border-collapse:collapse;
    width: 100%;background: #fff;
    margin: 0;
}
    table th{
        max-height: 58px;
        background: #f9f9f9;
    }
table, td, th
{
    border:1px solid #dfdfdf;
    padding:10px;
}

.table-drug tr.selected, .table-drug tr.checked,
.table-drug tr.selected, .table-drug tr.focus{
    background: #e3f2ff;
}
.table-drug tr:hover{
    background: #e3f2ff;
    cursor: pointer;
}
.input-page{
    width:50px;
}

.table-body td{
    font-weight: 500;
}
my-tbody,tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.hide-scroll{
    margin-right: -17px; overflow-y: scroll;
}
.fixedContainer{
    position: absolute;
    left: 0;top: 0;right: 0;bottom: 0; padding-right: 17px;
    overflow: hidden;
    display:-webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display:-moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display:-ms-flexbox;      /* TWEENER - IE 10 */
    display:-webkit-flex;     /* NEW - Chrome */
    display:flex; 
}

#pageBreak{
    margin-top: 15px;
    margin-bottom:15px;
}
#pageBreak .curpage{
    border: 1px solid #ddd;
    min-width: 40px;display: inline-block;border-radius: 4px;
    line-height: 28px;text-align: center;
}
#pageBreak .blink-page-ipt{
    width: 80px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#pageBreak .btn-default:focus{
    background-color: #fff;
    border-color: #ccc;
    outline: none;
}
/**
* my-tbody
*/
.table-bordered>my-tbody>tr>td, .table-bordered>my-tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.table>my-tbody>tr>td, .table>my-tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}