<nav *ngIf="userService.isLogin" class="navbar-default navbar-fixed-top">
    <div class="">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav " style="width:100%;">
                <li><span class="status-switch" (click)="switchNavStatus()"></span></li>
                <li>
                    <a routerLink="system_management/system_setting/setting_base" (click)="setMenus(system, 0)" [class.checked]="curRootMenus == 'system_management' || system == curRootMenus"
                        *ngIf="isSys" #system>系统管理</a>
                </li>
                <li>
                    <a routerLink="guest_management/hospital_management" (click)="setMenus(guest, 1)" [class.checked]="curRootMenus == 'guest_management' || guest == curRootMenus"
                        *ngIf="isGuest" #guest>客户管理</a>
                </li>
                <li>
                    <a routerLink="data_management/sort_management/data_sort_management" (click)="setMenus(data, 5)" [class.checked]="curRootMenus =='data_management' || data == curRootMenus"
                        *ngIf="isData" #data>资料管理</a>
                </li>
                <li>
                    <a routerLink="drug_management/drug_data/product_management" [class.checked]="curRootMenus == 'product_management' || pro == curRootMenus"
                        (click)="setMenus(pro, 2)" routerLinkActive="checked" *ngIf="isPros" #pro>产品管理</a>
                </li>
                <li>
                    <a routerLink="rule_management/content_management/system_rule_management" (click)="setMenus(rule, 4)" [class.checked]="curRootMenus == 'rule_management' || rule == curRootMenus"
                        *ngIf="isRule" #rule>规则管理</a>
                </li>
                <li>
                    <a routerLink="knowledge_sharing/knowledge_import_management/ipharmacare_rule_list" (click)="setMenus(sharing, 6)"
                        [class.checked]="curRootMenus =='knowledge_sharing' || sharing == curRootMenus" *ngIf="isSharing" #sharing>知识分享</a>
                </li>
                <li>
                    <a routerLink="rule_management/sort_management/dictionary_sort_management" (click)="setMenus(drug, 3)" [class.checked]="curRootMenus == 'dictionary_management' || drug == curRootMenus"
                        *ngIf="isDict" #drug>字典管理</a>
                </li>
                <!--isGuest-->
                <li style="float:right">
                    <a (click)="onClickName($event)">{{userService.user.realname}}<span class="caret"></span></a>
                </li>
                <li style="float:right">
                    <a href="/tools/search_data_list.action">资料查询</a>
                </li>
                <li style="float:right">
                    <a href="/tools/aq.action">处方评估</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--退出按钮  这个处理有点奇怪-->
<ul class="logout-btn" aria-labelledby="dropdownMenu1" *ngIf="userService.isLogin && isDropdownMenu" style="display:block">
    <li><a (click)="logout()">退出</a></li>
</ul>

<div [hidden]="!userService.isLogin" class="main-content" [class.flex]="userService.isLogin">

    <div class="slidebar" *ngIf="menus && menus.length > 0" [class.minimal]="!navOpenStatus">
        <ul *ngFor="let menu of menus" class="nav nav-stacked nav-slidebar">
            <li (click)="onSelect(menu, 2)" (mouseover)="showMinNav(menu);" (mouseout)="hideMinNav(menu)">
                <a class="sec-nav" [class.checked]="menu == selectedMenu || menu == hoveredMenu" (click)="onSelectMin(menu, 2)">
                    <span class="slide-icon icon-{{menu.id}}" [class.opened]="menu == selectedMenu"></span>
                    <span>{{menu.name}}</span>
                    <i class="arrow-icon" *ngIf="menu.resourceList.length > 0" [class.opened]="menu == selectedMenu"></i>
                </a>
                <!--slide收起的时候显示-->
                <div *ngIf="!navOpenStatus" class="min-slide" [class.opened]="menu == hoveredMenu">
                    <a class="min-sec-nav" (click)="onSelectMin(menu, 2)">{{menu.name}}</a>
                    <ul *ngIf="menu.resourceList.length > 0">
                        <li *ngFor="let submenu of menu.resourceList">
                            <a routerLink={{submenu.resource}} (click)="pushNaviInfo(submenu.name, menu.name, 3);onSelectThr(submenu, menu)" [class.checked-thr-min]="submenu == selectedThrMenu"
                                class="min-thr-nav">{{submenu.name}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <ul *ngIf="menu == selectedMenu && menu.resourceList.length > 0 && navOpenStatus" class="nav nav-pills nav-stacked">
                <li *ngFor="let submenu of menu.resourceList">
                    <a routerLink={{submenu.resource}} (click)="pushNaviInfo(submenu.name, menu.name, 3);onSelectThr(submenu, menu)" [class.checked-thr]="submenu == selectedThrMenu"
                        class="thr-nav">{{submenu.name}}</a>
                </li>
            </ul>
        </ul>
    </div>
    <div id="page" class="page flex1 flex column" [class.fix-close]="!navOpenStatus" [class.fix-full]="menus.length == 0">
        <div class="navigation-bar top-single-padding" [class.fix-close]="!navOpenStatus" [class.fix-full]="menus.length == 0">
            <span>首页</span>
            <span *ngFor="let navibar of naviBar">
                <span>> </span><span>{{navibar.name}}</span>
            </span>
        </div>
        <div class="flex1 component-container">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
<!--<router-outlet></router-outlet>-->
<div *ngIf="!userService.isLogin">
    <div class="login-content">
        <!--hearder begin-->
        <div class="header w980">
            <div class="logo">
                <img src="../images/logo.png" alt=""><span>{{title}}</span>
            </div>
        </div>
        <!--hearder end-->
        <!--content begin-->
        <div class="content">
            <div class="content-grid">
                <div class="login">
                    <h3 class="login-tit">登 录</h3>
                    <div class="form-group accout-ipt flex">
                        <input type="text" class="form-control" [(ngModel)]="username" placeholder="{{userNameTip}}" required>
                    </div>
                    <div class="form-group pwd-ipt flex">
                        <input type="password" class="form-control" [(ngModel)]="password" placeholder="{{passwordTip}}" required (keyup.enter)="onEnterPressed($event)">
                    </div>
                    <div class="checkbox keep-pwd">
                        <label>
                            <input type="checkbox" [(ngModel)]="lockPwd" [checked]="lockPwd"> 记住密码
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="button" (click)="onSubmit()" class="btn btn-block">登　　录</button>
                    </div>
                </div>
            </div>
        </div>
        <!--content end-->
        <!--footer begin-->
        <div class="footer">
            <p class="f-14"><a href="/tools/aq.action">处方评估</a> | <a href="/tools/search_data_list.action">资料查询</a> | Copyright © 2012-2015
                杭州逸曜信息技术有限公司 版权所有.</p>
        </div>
        <!--footer end-->
    </div>
</div>
<my-dialog></my-dialog>