.searchform{
    margin-bottom: 10px;
    padding: 7px 10px;
    background: #fff;
}
.searchform > div{
    margin-right: 10px;
}

.ps-content{
    background: #fff;
}
.psc-topbar{
    padding: 7px;
    text-align: right;
}
.psc-topbar .btn{
    cursor: pointer;
}

.order-header{
    line-height: 30px;
}
.order-btns{
    float: right;position: relative;
    width: 20px;height: 30px;
}
.order-btns span{
    cursor: pointer;
}
.order-btns .order-asc{
    position: absolute;left: 5px; top: 5px;
    width:0;height:0;
    border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 8px solid #ccc;
}
.order-btns .order-desc{
    position: absolute;left: 5px; bottom: 5px;
    width:0;height:0;
    border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 8px solid #ccc;
}
.order-btns .order-asc.current{
    border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 8px solid #666;
}
.order-btns .order-desc.current{
    border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 8px solid #666;
}