<div class="flex column fillspace-sm">
    <header>新增审方方案</header>
    <div class="audit-plan flex1">
        <!--上表格-->
        <div class="audit-plan-menu">
            <div class="form-group form-inline audit-plan-list">
                <label class="f-i-label"><em class="audit-plan-mandatory">*</em>方案名称：</label>
                <input type="text" class="audit-plan-input" placeholder="请输入方案名称" maxlength="60" #auditPlanNameBox [(ngModel)]="auditPlan.name">
            </div>
            <div class="form-group form-inline audit-plan-list">
                <label class="f-i-label"><em class="audit-plan-mandatory">*</em>方案类型：</label>
                <div class="form-check form-check-inline">
                    <label class="form-check-label ">
                        <input type="radio" name="category" value="1" (change)="categoryChange(1)" [checked]="auditPlan.category==1">门诊
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="category" value="2" (change)="categoryChange(2)" [checked]="auditPlan.category==2">住院
                    </label>
                </div>
            </div>
            <div class="form-group form-inline audit-plan-list">
                <label class="f-i-label">加载已有方案：</label>
                <!-- <select class="audit-plan-select" (change)="changeAuditPlanMap($event)">
                    <option value="">请选择</option>
                    <option *ngFor="let auditPlan of auditPlanMap" value="{{auditPlan.name}}">{{auditPlan.name}}</option>
                </select> -->
                <span class="audit-plan-old" (click)="selectAuditPlanOld()" #auditPlanOld>{{auditPlanOldSelected.name}}</span>
                <audit-plan-old *ngIf="isShowAuditPlanOld" [relydom]="auditPlanOld" (select)="auditPlanOldSel($event)"></audit-plan-old>
            </div>
            <div style="font-size: 12px;margin-left: 130px;margin-top: -.6rem;">选择后自动加载该方案的筛选条件</div>
        </div>
        <!--中表格-->
        <div class="row audit-plan-menu">
            <div class="col-6">
                <!--处方来源-->
                <div *ngIf="auditPlan.category!=2" class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">处方来源：</label>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" name="recipeSource" value="0" (change)="auditPlan.recipeSource='0'" [checked]="auditPlan.recipeSource=='0'"> 全部
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" name="recipeSource" value="1" (change)="auditPlan.recipeSource='1'" [checked]="auditPlan.recipeSource=='1'" /> 门诊
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" name="recipeSource" value="2" (change)="auditPlan.recipeSource='2'" [checked]="auditPlan.recipeSource=='2'" /> 急诊
                        </label>
                    </div>
                    <!-- <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" name="recipeSource" value="3" (change)="auditPlan.recipeSource='3'" [checked]="auditPlan.recipeSource=='3'" /> 住院
                        </label>
                    </div> -->
                </div>
                <!-- 科室组件 -->
                <!-- <audit-plan-dept [inputStr]="auditPlan.deptId" [inputType]="deptType" (deptUpdate)="handleDeptUpdate($event)"></audit-plan-dept> -->

                <!-- 重写科室开始 -->
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">科室：</label>
                    <div class="audit-plan-dept-select" (click)="deptclick($event)" #deptComp>
                        <!-- <span class="audit-plan-dept-name" *ngFor="let zone of activeZone">
                            {{zone.name}}
                            <span class="audit-plan-X" (click)="fnZoneDeptDelete(zone,$event)">X</span>
                        </span>
                        <span class="audit-plan-dept-name" *ngFor="let dept of activeDept">
                            {{dept.name}}
                            <span class="audit-plan-X" (click)="fnZoneDeptDelete(dept,$event)">X</span>
                        </span> -->
                        <span *ngFor="let _zone of auditPlan.deptList">
                            <span class="audit-plan-dept-name" *ngFor="let dept of trans2Arr(_zone&&_zone.idNamePairs || {})">
                                {{dept.name}}
                                <span class="audit-plan-X" (click)="fnZoneDeptDelete('dept',dept,$event)">X</span>
                            </span>
                            <span class="audit-plan-dept-name">
                                {{_zone.zoneName}}
                                <span class="audit-plan-X" (click)="fnZoneDeptDelete('zone',_zone,$event)">X</span>
                            </span>
                        </span>
                    </div>
                    <zone-dept-wrap-component [options]="deptOptions" [relydom]="deptComp" (output)="fnDeptSelect($event)" [deptList]="auditPlan.deptList"></zone-dept-wrap-component>
                </div>
                <!-- 重写科室结束 -->

                <!-- 医生选择组件 -->
                <audit-plan-doctor [doctorStr]="doctorIds" [searchType]="auditPlan.category" (doctorUpdate)="handleDoctorUpdate($event)"></audit-plan-doctor>
                <!--住院天数-->
                <div class="form-group form-inline audit-plan-list" *ngIf="auditPlan.category!=1">
                    <label class="f-i-label">住院天数：</label>
                    <div>
                        <input type="number" class="audit-plan-day-input" #minDayBox (keyup)="onInputDays(minDayBox.value, true)" [value]="auditPlan.minStay" min="0">
                        <span style="margin-left: 10px;">天</span>
                        <span style="margin: 0 10px;">~</span>
                        <input type="number" class="audit-plan-day-input" #maxDayBox (keyup)="onInputDays(maxDayBox.value, false)" [value]="auditPlan.maxStay" min="0">
                        <span style="margin-left: 10px;">天</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!--年龄-->
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">患者年龄：</label>
                    <div>
                        <input type="number" class="audit-plan-age-input" #ageMinInputBox (keyup)="onInputAge(ageMinInputBox.value, true)" [value]="auditPlan.minAge">
                        <span style="margin: 0 10px;">~</span>
                        <input type="number" class="audit-plan-age-input" #ageMaxInputBox (keyup)="onInputAge(ageMaxInputBox.value, false)" [value]="auditPlan.maxAge">
                        <select class="audit-plan-age-select" (change)="onChangeAge($event.target.value)">
                            <option value="岁" [selected]="auditPlan.ageUnit=='岁'">岁</option>
                            <option value="月" [selected]="auditPlan.ageUnit=='月'">月</option>
                            <option value="天" [selected]="auditPlan.ageUnit=='天'">天</option> 
                        </select>
                    </div>
                </div>
                <!-- 费用类型组件 -->
                <audit-plan-pay-type [payTypeStr]="auditPlan.costTypes" (payTypeUpdate)="handlePayTypeUpdate($event)"></audit-plan-pay-type>

                <!--诊断-->
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">诊断名称：</label>
                    <input type="text" class="audit-plan-diagnose-input" placeholder="请输入关键字，关键字之前可以用竖线&quot;|&quot;隔开" [(ngModel)]="auditPlan.diagnoses">
                </div>
                <!--ICD-10-->
                <div class="form-group form-inline audit-plan-list" style="margin-bottom: 0;">
                    <label class="f-i-label">ICD-10：</label>
                    <div class="audit-plan-ICD10-select">
                        <span class="audit-plan-ICD10-name" *ngFor="let icd10Result of icdResultList">
                            {{icd10Result.name}}
                            <span class="audit-plan-X" (click)="icd10ResultDelete(icd10Result.id)">X</span>
                        </span>
                    </div>
                    <button type="button" class="audit-plan-btn" (click)="chooseICD10()">+ 添加</button>
                </div>
            </div>
        </div>
        <!--下表格-->
        <div class="row audit-plan-menu">
            <div class="col-6">
                <!--药品分类组件-->
                <!--<audit-plan-drug-category [drugCategoryStr]="auditPlan.drugCategory" (drugCategoryUpdate)="handleDrugCategoryUpdate($event)"></audit-plan-drug-category> -->
                <!--关联药品 产品 疾病-->
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">药品分类：</label>
                    <div class="audit-plan-category-select">
                        <span class="audit-plan-category-name" *ngFor="let drugCategory of drugCategoryResultList">
                            {{drugCategory.name}}
                            <span class="audit-plan-X" (click)="drugCategoryResultDelete(drugCategory.id)">X</span>
                        </span>
                    </div>
                    <button type="button" class="audit-plan-btn" (click)="chooseDrug()">选择</button>
                </div>
                <!--药品属性组件-->
                <div class="form-group form-inline audit-plan-list">
                    <audit-plan-drug-property [drugPropertyStr]="auditPlan.drugProperties" (drugPropertyUpdate)="handleDrugPropertyUpdate($event)"></audit-plan-drug-property>
                    <label *ngIf="auditPlan.category==1">
                        <label class="f-i-label">&nbsp;</label>
                        <input type="checkbox" [checked]="auditPlan.isOuvas">
                        仅审核OUVAS处方
                    </label>
                    <label *ngIf="auditPlan.category==2">
                        <label class="f-i-label">&nbsp;</label>
                        <input type="checkbox" [checked]="auditPlan.isPivas">
                        仅审核PIVAS处方
                    </label>
                </div>
            </div>
            <div class="col-6">
                <!--警示信息组件-->
                <audit-plan-warning [label]="'警示信息过滤条件'" [warningMap]="warningMap" (select)="selectWaringMap($event)"></audit-plan-warning>
            </div>
        </div>
        <div class="audit-plan-menu" style="border: none;">
            <audit-plan-warning [label]="'警示信息展示过滤'" [warningMap]="displayWaringMap" (select)="selectDisplayWaringMap($event)"></audit-plan-warning>
            <div style="max-width: 1100px; padding-top: 50px;">
                <label class="f-i-label">&nbsp;</label>
                <button type="button" class="audit-plan-footer-cancel" (click)="history.back()">取消</button>
                <button type="button" class="audit-plan-footer-save" (click)="saveAuditPlan()">保存</button>
            </div>
        </div>
    </div>
</div>

<icd10-dialog #icd10Dialog [options]="icd10DialogOptions" (onChooseICD10s)="chooseNewICD10Confirm($event)"></icd10-dialog>

<drug-category-dialog #drugCategoryDialog [options]="drugCategoryDialogOptions" (onChooseDrugs)="chooseNewCategoryConfirm($event)"></drug-category-dialog>