<div class="flex column fillspace-sm">
    <header>审方方案选择</header>
    <div class="audit-plan flex1">
        <!--上表格-->
        <div class="row audit-plan-menu" style="border: none;">
            <div class="col-12 form-inline audit-plan-list">
                <label class="f-i-label">选择方案：</label>
                <select class="audit-plan-select" [(ngModel)]="auditPlanTypeId" (ngModelChange)="getAuditPlan()">
                    <option *ngFor="let auditPlan of auditPlanMap" [value]="auditPlan.id">{{auditPlan.name}}</option>
                </select>
                <label class="f-i-label audit-plan-new" routerLink="/audit-plan">+ 新建审方方案</label>
            </div>
        </div>
        <!--中表格-->
        <div class="audit-plan-menu-title flex1">
            <div class="f-i-label">审方方案详情</div>
        </div>
        <div class="row audit-plan-menu">
            <div class="col-6">
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">科室：</label>
                    <div class="audit-plan-text">{{depts}}</div>
                </div>
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">医疗组：</label>
                    <div class="audit-plan-text">{{doctors}}</div>
                </div>
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">住院天数：</label>
                    <div class="audit-plan-text">{{auditPlan.minStay}} ~ {{auditPlan.maxStay}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">患者年龄：</label>
                    <div class="audit-plan-text">{{auditPlan.minAge}} ~ {{auditPlan.maxAge}}{{auditPlan.ageUnit}}</div>
                </div>
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">费用类型：</label>
                    <div class="audit-plan-text">{{auditPlan.costTypes}}</div>
                </div>
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">诊断名称：</label>
                    <div class="audit-plan-text">{{auditPlan.diagnoses}}</div>
                </div>
                <div class="form-inline audit-plan-list">
                    <label class="f-i-label">ICD-10：</label>
                    <div class="audit-plan-text">{{icd10}}</div>
                </div>
            </div>
        </div>
        <!--下表格-->
        <div class="row audit-plan-menu">
            <div class="col-6">
                <!--药品分类组件-->
                <div class="form-group form-inline audit-plan-list">
                    <label class="f-i-label">药品分类：</label>
                    <div class="audit-plan-text">{{drugCategorys}}</div>
                </div>
                <div class="form-inline audit-plan-list">
                    <label class="f-i-label">药品属性：</label>
                    <div class="audit-plan-text" style="min-width: 240px;min-height: 30px;">{{auditPlan.drugProperties}}</div>
                    <label *ngIf="auditPlan.category==1">
                        <label class="f-i-label">&nbsp;</label>
                        <input type="checkbox" [checked]="auditPlan.isOuvas" style="margin-right: 5px;"> 仅审核OUVAS处方
                    </label>
                    <label *ngIf="auditPlan.category==2">
                        <label class="f-i-label">&nbsp;</label>
                        <input type="checkbox" [checked]="auditPlan.isPivas" style="margin-right: 5px;"> 仅审核PIVAS处方
                    </label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-inline audit-plan-list">
                    <label class="f-i-label">警示信息过滤条件：</label>
                    <div>
                        <div *ngFor="let infos of auditPlan.infoList" class="audit-plan-text">{{infos.analysisType}}/{{infos.message}}/{{infos.cautionStatus}}{{infos.symbol}}{{infos.severity}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="audit-plan-menu" style="border: none;">
            <div class="form-inline audit-plan-list">
                <label class="f-i-label">警示信息展示过滤：</label>
                <div>
                    <div *ngFor="let infos of auditPlan.infoList" class="audit-plan-text">{{infos.analysisType}}/{{infos.message}}/{{infos.cautionStatus}}{{infos.symbol}}{{infos.severity}}</div>
                </div>
            </div>
            <div style="max-width: 1100px; padding-top: 50px;">
                <label class="f-i-label">&nbsp;</label>
                <button type="button" class="audit-plan-footer-start" (click)="getAuditPlanSetting(auditPlan.id,auditPlan.category)">开始审方</button>
            </div>
        </div>
    </div>
</div>