.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	padding: 0;
    margin: 0;
}
label{
	padding-right: 10px;
}
.alert-msg-wrap {
	background: #fff;
}
.alert-msg-wrap select, .alert-msg-wrap input {
	width: 80%;
}
.query-bar {
	position: relative;
}
.btn-block {
	position: absolute;
    right: 5px;
    top: calc(50% - 1.125rem);
}
.slide-bar {
	text-align: center;
}
.slide-tip {
	cursor: pointer;
}
.tips-arrow {
    margin-left: 5px;
    vertical-align: 2px;
    transition: all .3s ease-in-out;
}
.uparrow {
    transform: rotate(-180deg);
}
.like-input{
	width: 80%;
	height: 1.8125rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}
.add-program-header {
    height: 30px;
    line-height: 30px;
}
.add-program-checked {
    color: #333;
    cursor: pointer;
}
.dept-program-checked-select {
    display: inline-block;
    width: 300px;height: 30px;padding: 0 5px;
    border: 1px solid #ccc;border-radius: 3px;
    background: #fff;
    overflow: hidden;
}

.dept-program-checked-select>span {
    margin-left: 5px;
}

.table-shadow{
    border-top: 4px solid #5bc0de;
    border-radius: 8px;
}
}