.dept-wrap{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #ddd;
}

/*.zone-dept-input {
    width: 100%;
    border: 1px solid #DFDFDF;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}*/